workspace_movistar_wl11/zjarATiempoInterface/src/co/com/telefonica/atiempo/interfaces/atiempo/commons-atiempo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: commons-atiempo.xsd,v 1.2 2011/05/23 13:42:00 lfmartinez Exp $ -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://atiempo.telefonica.com.co" xmlns:commons="http://atiempo.telefonica.com.co" xmlns:Q1="xsd">

	<simpleType name="int1">
		<restriction base="int">
			<totalDigits value="1" />
		</restriction>
	</simpleType>
	<simpleType name="int2">
		<restriction base="int">
			<totalDigits value="2" />
		</restriction>
	</simpleType>
	<simpleType name="int3">
		<restriction base="int">
			<totalDigits value="3" />
		</restriction>
	</simpleType>
	<simpleType name="int4">
		<restriction base="int">
			<totalDigits value="4" />
		</restriction>
	</simpleType>
	<simpleType name="int5">
		<restriction base="int">
			<totalDigits value="5" />
		</restriction>
	</simpleType>	
	<simpleType name="int6">
		<restriction base="int">
			<totalDigits value="6" />
		</restriction>
	</simpleType>
	<simpleType name="int8">
		<restriction base="int">
			<totalDigits value="8" />
		</restriction>
	</simpleType>
	<simpleType name="long5">
		<restriction base="long">
			<totalDigits value="5" />
		</restriction>
	</simpleType>
	<simpleType name="long8">
		<restriction base="long">
			<totalDigits value="8" />
		</restriction>
	</simpleType>
	<simpleType name="long9">
		<restriction base="long">
			<totalDigits value="9" />
		</restriction>
	</simpleType>
	<simpleType name="long10">
		<restriction base="long">
			<totalDigits value="10" />
		</restriction>
	</simpleType>
	<simpleType name="long12">
		<restriction base="long">
			<totalDigits value="12" />
		</restriction>
	</simpleType>
	<simpleType name="long14">
		<restriction base="long">
			<totalDigits value="14" />
		</restriction>
	</simpleType>
	<simpleType name="long15">
		<restriction base="long">
			<totalDigits value="15" />
		</restriction>
	</simpleType>
	<simpleType name="long16">
		<restriction base="long">
			<totalDigits value="16" />
		</restriction>
	</simpleType>

	<simpleType name="char">
		<restriction base="string">
			<maxLength value="1" />
		</restriction>
	</simpleType>
	<simpleType name="string2">
		<restriction base="string">
			<maxLength value="2" />
		</restriction>
	</simpleType>
	<simpleType name="string3">
		<restriction base="string">
			<maxLength value="3" />
		</restriction>
	</simpleType>
	<simpleType name="string4">
		<restriction base="string">
			<maxLength value="4" />
		</restriction>
	</simpleType>
	<simpleType name="string5">
		<restriction base="string">
			<maxLength value="5" />
		</restriction>
	</simpleType>
	<simpleType name="string6">
		<restriction base="string">
			<maxLength value="6" />
		</restriction>
	</simpleType>
	<simpleType name="string8">
		<restriction base="string">
			<maxLength value="8" />
		</restriction>
	</simpleType>
	<simpleType name="string9">
		<restriction base="string">
			<maxLength value="9" />
		</restriction>
	</simpleType>
	<simpleType name="string10">
		<restriction base="string">
			<maxLength value="10" />
		</restriction>
	</simpleType>
	<simpleType name="string11">
		<restriction base="string">
			<maxLength value="11" />
		</restriction>
	</simpleType>
	<simpleType name="string12">
		<restriction base="string">
			<maxLength value="12" />
		</restriction>
	</simpleType>		
	<simpleType name="string13">
		<restriction base="string">
			<maxLength value="13" />
		</restriction>
	</simpleType>	
	<simpleType name="string14">
		<restriction base="string">
			<maxLength value="14" />
		</restriction>
	</simpleType>
	<simpleType name="string15">
		<restriction base="string">
			<maxLength value="15" />
		</restriction>
	</simpleType>
	<simpleType name="string16">
		<restriction base="string">
			<maxLength value="16" />
		</restriction>
	</simpleType>
	<simpleType name="string18">
		<restriction base="string">
			<maxLength value="18" />
		</restriction>
	</simpleType>
	<simpleType name="string19">
		<restriction base="string">
			<maxLength value="19" />
		</restriction>
	</simpleType>
	<simpleType name="string20">
		<restriction base="string">
			<maxLength value="20" />
		</restriction>
	</simpleType>
	<simpleType name="string23">
		<restriction base="string">
			<maxLength value="23" />
		</restriction>
	</simpleType>
	<simpleType name="string24">
		<restriction base="string">
			<maxLength value="24" />
		</restriction>
	</simpleType>
	<simpleType name="string26">
		<restriction base="string">
			<maxLength value="26" />
		</restriction>
	</simpleType>
	<simpleType name="string30">
		<restriction base="string">
			<maxLength value="30" />
		</restriction>
	</simpleType>
	<simpleType name="string40">
		<restriction base="string">
			<maxLength value="40" />
		</restriction>
	</simpleType>
	<simpleType name="string50">
		<restriction base="string">
			<maxLength value="50" />
		</restriction>
	</simpleType>
	<simpleType name="string60">
		<restriction base="string">
			<maxLength value="60" />
		</restriction>
	</simpleType>
	<simpleType name="string64">
		<restriction base="string">
			<maxLength value="64" />
		</restriction>
	</simpleType>
	<simpleType name="string65">
		<restriction base="string">
			<maxLength value="65" />
		</restriction>
	</simpleType>
	<simpleType name="string80">
		<restriction base="string">
			<maxLength value="80" />
		</restriction>
	</simpleType>
	<simpleType name="string100">
		<restriction base="string">
			<maxLength value="100" />
		</restriction>
	</simpleType>
	<simpleType name="string150">
		<restriction base="string">
			<maxLength value="150" />
		</restriction>
	</simpleType>
	<simpleType name="string200">
		<restriction base="string">
			<maxLength value="200" />
		</restriction>
	</simpleType>
	<simpleType name="string240">
		<restriction base="string">
			<maxLength value="240" />
		</restriction>
	</simpleType>
	<simpleType name="string250">
		<restriction base="string">
			<maxLength value="250" />
		</restriction>
	</simpleType>
	<simpleType name="string255">
		<restriction base="string">
			<maxLength value="255" />
		</restriction>
	</simpleType>
	<simpleType name="string300">
		<restriction base="string">
			<maxLength value="300" />
		</restriction>
	</simpleType>
	<simpleType name="string360">
		<restriction base="string">
			<maxLength value="360" />
		</restriction>
	</simpleType>
	<simpleType name="string960">
		<restriction base="string">
			<maxLength value="960" />
		</restriction>
	</simpleType>
	<simpleType name="string2000">
		<restriction base="string">
			<maxLength value="2000" />
		</restriction>
	</simpleType>
	<simpleType name="string4000">
		<restriction base="string">
			<maxLength value="4000" />
		</restriction>
	</simpleType>
	<simpleType name="string32767">
		<restriction base="string">
			<maxLength value="32767" />
		</restriction>
	</simpleType>
	<complexType name="RequestHeader">
		<sequence>
			<element name="id" type="commons:string24" />
		</sequence>
	</complexType>
	<complexType name="RequestHeader2">
		<sequence>
			<element name="error-code" type="int" />
			<element name="error-message" type="string" />
		</sequence>
	</complexType>
	<complexType name="RequestHeaderAgendaSC">
		<sequence>
			<element name="id" type="commons:string24" />
			<element name="destination" type="commons:string40" />
			<element name="source" type="commons:string40" />
			<element name="interface" type="commons:string40" />
			<element name="version" type="commons:string40" />
		</sequence>
	</complexType>
	<complexType name="ResponseHeader">
		<sequence>
			<element name="id" type="commons:string24" />
			<element name="error" type="boolean" />
			<element name="error-message" type="string" />
		</sequence>
	</complexType>

	<complexType name="ResponseHeader2">
		<sequence>
			<element name="id" type="commons:string24" />
			<element name="error-code" type="int" />
			<element name="error-message" type="string" />
		</sequence>
	</complexType>
	
	<complexType name="ResponseHeaderAgendaSC">
		<sequence>
			<element name="id" type="commons:string24" />
			<element name="error" type="boolean" />
			<element name="error-message" type="string" />
			<element name="destination" type="commons:string40" />
			<element name="source" type="commons:string40" />
			<element name="interface" type="commons:string40" />	
			<element name="version" type="commons:string40" />	
		</sequence>
	</complexType>

	<complexType name="Dslam1">
		<all maxOccurs="1" minOccurs="1">
			<element name="ip" type="commons:string15" />
			<element name="dslam-type" type="commons:char" />
		</all>
	</complexType>

	<complexType name="valueType">
		<simpleContent>
			<extension base="string">
				<attribute name="name" type="string" />
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="SpecialServicesRequest">
		<all maxOccurs="1" minOccurs="1">
			<element name="special-service" type="commons:int6" />
			<element name="action-code" type="commons:int2" />
		</all>
	</complexType>
	
	<complexType name="SpecialServicesResponse">
		<all maxOccurs="1" minOccurs="1">
			<element name="special-service" type="commons:int6" />
			<element name="action-result-number" type="commons:int2" />
			<element name="action-result-description" type="commons:string200" />
		</all>
	</complexType>
	
	<complexType name="AgendaServiceHeader">
		<sequence>
			<element name="destino" type="string" />
			<element name="origen" type="string" />
			<element name="interfaz" type="string" />
			<element name="version" type="string" />
		</sequence>
	</complexType>

	  <complexType name="CameraResponse">
	    <sequence>
	      <element minOccurs="1" name="camera-code" type="string"/>
	      <element minOccurs="1" name="camera-serial" type="string"/>
	      <element minOccurs="0" name="camera-description" type="string" />
	      </sequence>
	  </complexType>

	<complexType name="CameraRequest">
		<sequence>
			<element minOccurs="1" name="camera-code" type="string" />
			<element name="camera-brand" type="string" />
			<element name="camera-type" type="string" />
			<element name="camera-serial" type="string" />
			<element name="camera-state" type="string" />
			<element minOccurs="0" name="camera-model" type="string" />
		</sequence>
	</complexType>
	
</schema>