workspace_movistar_wl11/zjarATiempoInterface/src/co/com/telefonica/atiempo/interfaces/atiempo/TR_050_E.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://atiempo.telefonica.com.co" xmlns:tr-050-e="http://atiempo.telefonica.com.co">
	<include schemaLocation="commons-atiempo.xsd" />
	<complexType name="TR-050-E">
		<sequence>
			<element name="head" type="tr-050-e:ResponseHeaderAgendaSC" />
			<element name="body">
				<complexType>
					<sequence>
						<element name="status-request" type="tr-050-e:long16" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name="tr-050-e" type="tr-050-e:TR-050-E" />
</schema>