workspace_movistar_wl11/zjarATiempoInterface/src/co/com/telefonica/atiempo/interfaces/atiempo/TR_029_S.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://atiempo.telefonica.com.co" xmlns:tr-029-s="http://atiempo.telefonica.com.co">
	<include schemaLocation="commons-atiempo.xsd" />
	<complexType name="TR-029-S">
		<sequence>
			<element name="head" type="tr-029-s:ResponseHeaderAgendaSC" />
			<element name="body">
				<complexType>
					<sequence>
						<element name="atiempo-request-number" type="tr-029-s:long9" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name="tr-029-s" type="tr-029-s:TR-029-S" />
</schema>