workspace_movistar_wl11/zjarATiempoInterface/src/co/com/telefonica/atiempo/interfaces/atiempo/TR_051_S.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://atiempo.telefonica.com.co" xmlns:tr-051-s="http://atiempo.telefonica.com.co">
	<include schemaLocation="commons-atiempo.xsd" />
	<complexType name="TR-051-S">
		<sequence>
			<element name="head" type="tr-051-s:ResponseHeaderAgendaSC" />
			<element name="body">
				<complexType>
					<sequence>
						<element name="response" type="tr-051-s:string10" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name="tr-051-s" type="tr-051-s:TR-051-S" />
</schema>