workspace_movistar_wl11/zjarATiempoInterface/src/co/com/telefonica/atiempo/interfaces/atiempo/TR_045_S.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://atiempo.telefonica.com.co" xmlns:tr-045-s="http://atiempo.telefonica.com.co">
	<include schemaLocation="commons-atiempo.xsd"/>
	<complexType name="TR-045-S">
		<sequence>
		<element name="head" type="tr-045-s:RequestHeader"/>
			<element name="body">
				<complexType>
					<sequence>
						<element name="request-number" type="tr-045-s:long16"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name="tr-045-s" type="tr-045-s:TR-045-S"/>
</schema>
