workspace_movistar_wl11/zjarATiempoInterface/src/co/com/telefonica/atiempo/interfaces/atiempo/TR_043_E.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://atiempo.telefonica.com.co" xmlns:tr-043-e="http://atiempo.telefonica.com.co">
	<include schemaLocation="commons-atiempo.xsd" />
	<complexType name="TR-043-E">
		<sequence>
			<element name="head" type="tr-043-e:RequestHeader" />
			<element name="body">
				<complexType>
					<sequence>
						<element name="atiempo-request-number" type="tr-043-e:long16" />
						<element name="service-number" type="tr-043-e:string40" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name="tr-043-e" type="tr-043-e:TR-043-E" />
</schema>