workspace_movistar_wl11/zjarATiempoInterface/src/co/com/telefonica/atiempo/interfaces/atiempo/TR_054_S.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://atiempo.telefonica.com.co" xmlns:tr-054-s="http://atiempo.telefonica.com.co">
	<include schemaLocation="commons-atiempo.xsd" />
	<complexType name="TR-054-S">
		<sequence>
			<element name="head" type="tr-054-s:ResponseHeaderAgendaSC" />
			<element name="body">
				<complexType>
					<sequence>
						<element name="atis-request-number" type="tr-054-s:long9"/>
						<element name="atiempo-request-number" type="tr-054-s:long9"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name="tr-054-s" type="tr-054-s:TR-054-S" />
</schema>