workspace_movistar_wl11/zjarATiempoInterface/src/co/com/telefonica/atiempo/interfaces/atiempo/TR_048_S.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://atiempo.telefonica.com.co" xmlns:tr-048-s="http://atiempo.telefonica.com.co">
	<include schemaLocation="commons-atiempo.xsd" />
	<complexType name="TR-048-S">
		<sequence>
			<element name="head" type="tr-048-s:ResponseHeader" />
			<element name="body">
				<complexType>
					<sequence>
						<element name="atiempo-request-number" type="tr-048-s:string16" />
						<element name="error-code" type="tr-048-s:string5" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name="tr-048-s" type="tr-048-s:TR-048-S" />
</schema>