workspace_movistar_wl11/zjarATiempoInterface/src/co/com/telefonica/atiempo/interfaces/atiempo/TR_301_E.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://atiempo.telefonica.com.co" 
	xmlns:tr-301-e="http://atiempo.telefonica.com.co">
	<include schemaLocation="commons-atiempo.xsd" />
	<complexType name="TR_301_E">
		<sequence>
			<element name="head" type="tr-301-e:ResponseHeaderAgendaSC" />
			<element name="body">
				<complexType>
					<sequence>
						<element name="oim-request" type="tr-301-e:string255" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<element name="tr-301-e" type="tr-301-e:TR_301_E" />
</schema>