workspace_movistar_wl11/zjarinvocacionservicios/src-parsers/AccionMasiva.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
	<xs:element name="ACCION_MASIVA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CODIGO_ACCION" type="xs:string"  minOccurs="1" maxOccurs="1" />
	    		<xs:element name="NUMERO_PETICION" type="xs:string"  minOccurs="1" maxOccurs="1" />
	    		<xs:element name="CODIGO_ACTIVIDAD" type="xs:string"  minOccurs="1" maxOccurs="1" />
	    		<xs:element name="INSTANCIA_ACTIVIDAD" type="xs:string"  minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>